*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('imgsForH/bgLogin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

header {
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.heading{
    display: none;
}

.logostyle{
  height: 70px;
  width: 70px;
}

.logostyle:hover {
transform: scale(1.2); 
transition: all 0.3s ease-in-out; 
} 


.nav-bar{
  margin: auto;
}

.hamburger{
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover{
  color: #11101b;
  background: #fefefe;
}

.login ul li a{
border: 1px solid white;
text-decoration: none;
display: inline-block;
color: #fefefe;
font-size: 20px;
padding: 10px 25px;
transition: 0.2s;
margin: 0px;
}

.login ul li a:hover{
  color: #11101b;
  background: #fefefe;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label, input:valid ~ label{
                           top: -5px;
                         }

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

button:hover{
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

.footer{
padding: 60px;
background-color: white;
background: rgba(0, 0, 0, 0.5);
height: 45vh;
}

.footer .social{
text-align: center;
padding-bottom: 25px;
color: gray;
}

.footer .social a{
font-size: 24px;
color: inherit;
border: 1px solid white;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin: 0 8px;
opacity: 1;
}

.footer .social a:hover{
opacity: 1;
}

.footer ul{
margin-top: 0;
padding: 0;
list-style: none;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;
}

.footer ul a{
text-decoration: none;
display: inline-block;
color: #fefefe;
font-size: 20px;
padding: 10px 25px;
transition: 0.2s;
margin: 0px;
}

.footer ul li{
display: inline-block;
padding: 0 15px;
}

.footer ul li a:hover{
color: #11101b;
background: #fefefe;
}

.footer .copyright{
margin-top: 15px;
text-align: center;
font-size: 13px;
color: #aaa;
}

.fa-facebook:hover {
transform: scale(1.2); 
transition: all 0.5s ease-in-out; 
color: #1094f4;
}

.fa-youtube:hover {
  transform: scale(1.2); 
  transition: all 0.5s ease-in-out; 
  color: red;
  }

.fa-twitter:hover {
  transform: scale(1.2); 
  transition: all 0.5s ease-in-out; 
  color: lightblue;
  } 

.fa-discord:hover {
  transform: scale(1.2); 
  transition: all 0.5s ease-in-out; 
  color: #7289d9;
  } 

@media only screen and (max-width: 1320px){
.logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height: 60vh;
  }

  .footer ul li{
   display: inline-block;
   padding: 20px;
  }
  }

@media only screen and (max-width: 1120px){ 
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}

.footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height: 60vh;
  }

  .footer ul li{
   display: inline-block;
   padding: 20px;
  }
}

@media only screen and (max-width: 900px) {

body{
background-image: url('imgsForH/bgForLogin.png');
background-attachment: fixed;
background-size: 100% 99%;
}

.logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}


.footer{
    height: 70vh;
    padding-top: 60px;
    line-height: 70px;
    }  
}

@media only screen and (max-width: 716px){
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}
.footer{
    height: 70vh;
    padding-top: 60px;
    line-height: 70px;
    } 
}


@media only screen and (max-width: 650px){
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}

  .footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height:70vh;
  }

  .footer ul li{
   display: inline-block;
   padding: 20px;
  }
}

@media only screen and (max-width: 617px){
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}

.footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height: 75vh;
  }

  .footer ul li{1111
   padding: 20px;
  }
}